
/* SECTION Menu */
.Menu{
  background-color: black;
}

.Menu a{
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.card .todo-action{
  cursor: pointer;
}
.test button{
  /* display: inline-block; */
  /* color: red; */
  width: 80px;
}